{
	"openapi": "3.0.0",
	"info": {
		"description": "Esta es una api para las entidades de las Suscripciones",
		"version": "1.0.0",
		"title": "Swagger API_Suscripciones",
		"termsOfService": "http://swagger.io/terms/",
		"contact": {
			"email": "apiteam@swagger.io"
		},
		"license": {
			"name": "Apache 2.0",
			"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [{
        "bearerAuth": []
    }],
	"servers":[{
		"url": "https://accounts.errepar.com/customers-and-products-api/api",
		"description": "Server publico (Testing)"
	  },{
		"url": "http://localhost:3001/api",
		"description": "Server testing local"
	  }],
	"tags": [
		{
			"name": "Products",
			"description": "Obten todo sobre los datos de suscripciones"
		}
	],
	"paths": {
		"/getProducts": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "Obtener los productos",
				"description": "Obtener los Productos",
				"operationId": "getProducts",
				"produces": [
					"application/xml",
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Retorna los registros de los Productos."
					}
				}
			}
		},
		"/getSubscriberSuscriptionCommProduct/{subscriber_id}": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "Obtener todas las suscripciones por Suscriptor",
				"description": "Obtener todas las suscripciones por Suscriptor",
				"operationId": "getSubscriberSuscriptionCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "subscriber_id",
						"in": "path",
						"description": "subscriber_id del suscriptor que se desea buscar.",
						"required": true,
						"type": "UUID"
					}
				],
				"responses": {
					"200": {
						"description": "Retorna los registros."
					},
					"400": {
						"description": "Ingrese un UUID valido."
					},
					"404": {
						"description": "Datos no encontrados."
					}
				}
			}
		},
		"/getBySuscriptionProductIdCommProduct/{product_id}": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "Obtener todas las suscripciones por Producto",
				"description": "Obtener todas las suscripciones por Producto",
				"operationId": "getBySuscriptionProductIdCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "product_id",
						"in": "path",
						"description": "product_id del producto que se desea buscar.",
						"required": true,
						"type": "UUID"
					}
				],
				"responses": {
					"200": {
						"description": "Retorna los registros."
					},
					"400": {
						"description": "Ingrese un UUID valido."
					},
					"404": {
						"description": "Datos no encontrados."
					}
				}
			}
		},
		"/getProductCommProduct/{product_id}": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "Obtener producto especifico",
				"description": "Obtener producto especifico",
				"operationId": "getProductCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "product_code",
						"in": "path",
						"description": "product_code del producto que se desea buscar.",
						"required": true,
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Retorna los registros."
					},
					"400": {
						"description": "Ingrese un UUID valido."
					},
					"404": {
						"description": "Datos no encontrados."
					}
				}
			}
		},
		"/getAllProductsCommProduct": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "Obtener los productos por tipo ",
				"description": "Obtener los Productos por tipo",
				"operationId": "getAllProductsCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Retorna los registros de los Productos."
					}
				}
			}
		},
		"/addSubscriptionCommProduct": {
			"post": {
				"tags": [
					"Products"
				],
				"summary": "Asignar un producto a un suscriptor",
				"description": "Vincula un producto con el suscriptor.",
				"operationId": "addSubscriptionCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Crear la relacion entre producto y suscriptor",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"product_id": {
									"type": "UUID",
									"format": "string"
								},
								"subscriber_id": {
									"type": "UUID"
								},
								"subscription_finish_date": {
									"type": "string"
								},
								"erp_thematic":{
									"type": "string"
								},
								"account_executive_ref_id": {
									"type": "UUID"
								},
								"creation_user":{
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "El Item no pudo ser creado."
					},
					"404": {
						"description": "Error."
					},
					"200":{
						"description": "Retorna el registro del Producto asociado."
					}
				}
			}
		},
		"/createProductCommProduct": {
			"post": {
				"tags": [
					"Products"
				],
				"summary": "Dar de alta un Producto nuevo.",
				"description": "Dar de alta un Producto nuevo.",
				"operationId": "createProductCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Dar de alta un Producto nuevo.",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"product_code": {
									"type": "string"
								},
								"product_name": {
									"type": "string"
								},
								"product_type_code": {
									"type": "string"
								},
								"apply_eol": {
									"type": "string"
								},
								"apply_ius": {
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"501": {
						"description": "El Item no pudo ser creado."
					},
					"400": {
						"description": "Error."
					},
					"201":{
						"description": "Retorna el registro del Producto."
					}
				}
			}
		},
		"/createProductScopeCommProduct": {
			"post": {
				"tags": [
					"Products"
				],
				"summary": "Dar de alta un Product Scope nuevo.",
				"description": "Dar de alta un Product Scope nuevo.",
				"operationId": "createProductScopeCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Dar de alta un Product Scope nuevo.",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"product_id": {
									"type": "UUID",
									"format": "string"
								},
								"product_max_access_count": {
									"type": "integer"
								},
								"product_max_user_count": {
									"type": "integer"
								},
								"scope_finish_date": {
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "El Alcance de este producto no pudo ser creado."
					},
					"501": {
						"description": "Error."
					},
					"201":{
						"description": "Retorna el registro."
					}
				}
			}
		},
		"/disableSubscriptionCommProduct/{subscriber_id}/{product_id}": {
			"put": {
				"tags": [
					"Products"
				],
				"summary": "Desactivar una Suscripcion",
				"description": "Desactivar una Suscripcion",
				"operationId": "disableSubscriptionCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "subscriber_id",
						"in": "path",
						"description": "UUID del suscriptor que se desea actualizar.",
						"required": true,
						"type": "string"
					},
					{
						"name": "product_id",
						"in": "path",
						"description": "UUID del producto que se desea actualizar.",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "Modificar una suscripcion.",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"is_active":{
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "'Peticion invalida' o 'Ingrese un UUID valido' o 'Suscripcion no encontrada'."
					},
					"501": {
						"description": "Error."
					},
					"200": {
						"description": "Retorna el registro actualizado."
					}
				}
			}
		},
		"/updateProductCommProduct/{product_id}": {
			"put": {
				"tags": [
					"Products"
				],
				"summary": "Modificar los datos un producto.",
				"description": "Modificar los datos un producto.",
				"operationId": "updateProductCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "product_id",
						"in": "path",
						"description": "UUID del producto que se desea actualizar.",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "Modificar una suscripcion.",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"product_code":{
									"type": "string"
								},
								"product_name":{
									"type": "string"
								},
								"product_type_code":{
									"type": "string"
								},
								"apply_eol":{
									"type": "string"
								},
								"apply_ius":{
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "'Peticion invalida' o 'Ingrese un UUID valido' o 'Suscripcion no encontrada'."
					},
					"501": {
						"description": "Error."
					},
					"200": {
						"description": "Retorna el registro actualizado."
					}
				}
			}
		},
		"/updateProductScopeCommProduct/{product_scope_id}": {
			"put": {
				"tags": [
					"Products"
				],
				"summary": "Modificar Product Scope ",
				"description": "Modificar Product Scope ",
				"operationId": "updateProductScopeCommProduct",
				"produces": [
					"application/xml",
					"application/json"
				],
				"parameters": [
					{
						"name": "product_scope_id",
						"in": "path",
						"description": "UUID del product_scope que se desea actualizar.",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "Modificar una suscripcion.",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"product_id":{
									"type": "string"
								},
								"product_max_access_count":{
									"type": "integer"
								},
								"product_max_user_count":{
									"type": "integer"
								},
								"scope_start_date":{
									"type": "string"
								},
								"scope_finish_date":{
									"type": "string"
								},
								"is_active":{
									"type": "string"
								}
							},
							"xml": {
								"name": "User"
							}
						}
					}
				],
				"responses": {
					"400": {
						"description": "'Peticion invalida' o 'Ingrese un UUID valido' o 'Suscripcion no encontrada'."
					},
					"404": {
						"description": "Error."
					},
					"200": {
						"description": "Retorna el registro actualizado."
					}
				}
			}
		}
    }
}
